---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';

// all this was meant to learn how variables can be used in astro

const pageTitle = "About Me";

const identity = {
  firstName: "Marcel",
  country: "Germany",
  github: "mwansich",
  edx: "mrclw1",
  hobbies: ["photography", "watching movies with Nicolas Cage"],
};

const skills = ["C", "HTML", "CSS", "JavaScript", "SQL", "Python", "Flask", "Astro"];

const skillColor = "purple";
const fontWeight = "bold";
const textCase = "uppercase";
---

 <style is:global define:vars={{skillColor, fontWeight, textCase}}>
            .skill {
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
            }

            .dark .skill {
                color: #8b5cf6;
            }
        </style>

<BaseLayout pageTitle={pageTitle}>
<h2>and my final CS50 Project</h2>
<div class="about_pic">
<figure>
<Image 
  src={ 'https://thispersondoesnotexist.com' } 
  alt={ 'picture of a person randomly generated via https://thispersondoesnotexist.com' }
  width={250}
  height={250} />
  <figcaption><a href="https://thispersondoesnotexist.com/" target="_blank">thispersondoesnotexist.com</a></figcaption>
</figure>
</div>
        <p>Here are a few facts about me:</p>
        <ul>
            <li>My name is {identity.firstName}</li>
            <li>I live in {identity.country}</li>
            <li>My Github username used for CS50 is {identity.github}</li>
            <li>My edx username is {identity.edx}</li>
        {identity.hobbies.length >= 2 ?
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li> : 
            identity.hobbies.length === 1 ? <li>My only Hobby is: {identity.hobbies[0]}</li> :
            <li>I don't have any hobbies</li>
        }
        </ul>
        <p>You can see all the photos used in this blogs posts <a href="/pictures">here</a>. They're analogue photographies i took myself.</p>
        <p>I already learned the following skills in CS50:</p>
        <ul>
        {skills.slice(0, 7).map((skill) => <li>{skill}</li>)}
        </ul>
        
        <p>I'm now learning <span class="skill">{skills[7]}</span> while building this blog for my final project.</p>
</BaseLayout>