---
import '../styles/global.css';
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const pageTitle = "Archive";

// get all blogposts from the blog collection
const allPosts = await getCollection("blog");

// Sort posts by date (newest first), asked Claude for help here
const sortedPosts = allPosts.sort((a, b) => 
  new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);

const archivedPosts = sortedPosts.slice(4)

---

<BaseLayout pageTitle={pageTitle}>	
  <p>archived posts</p>
  <div>
  {archivedPosts.map((post: any) => <BlogPost url={`/posts/${post.id}/`} title={post.data.title} date={post.data.pubDate} image={post.data.cover} alt={post.data.coverAlt} description={post.data.description} author={post.data.author} />)}
  </div>
</BaseLayout>