---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';

const pageTitle = "My CS50 Final Project";

const featuredPosts = await getCollection("blog", ({ data }) => {
  return data.featured === "yes";
});

const sortedPosts = featuredPosts.sort((a, b) => 
  new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);
---
<BaseLayout pageTitle={pageTitle}>
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there", "Hej", "Hallo", "Hola", "Bonjour", "Greetings"]} />
  <p>I built this blog from scratch with <a href="https://astro.build/" target="_blank">astro</a> following the <a href="https://docs.astro.build/en/tutorial/0-introduction/" target="_blank">introduction tutorial</a> and improving upon it, applying my own styling and more functions with some help of <a href="https://claude.ai" target="_blank">Claude AI</a> and by myself. The source code is available on my github in this <a href="https://github.com/mwansich/astro-blog" target="_blank">"astro-blog" repository</a> and is deployed via netlify on <a href="https://deluxe-frangipane-d091d8.netlify.app/">this here website</a>.</p>
  <p>I used two github accounts to also try and learn something about git.</p>
  <p>This is not a real blog.</p>
  <p>The contents of this blog are only for presentation purposes and to test and showcase functionality.</p>
  <section>
  <h2>Featured {featuredPosts.length >= 2 ? 'Posts' : 'Post'} from my Blog</h2>
  <div>
  {sortedPosts.map((post: any, index: number) => <BlogPost 
    url={`/posts/${post.id}/`} 
    title={post.data.title} 
    date={post.data.pubDate} 
    image={post.data.cover} 
    alt={post.data.coverAlt} 
    description={post.data.description} 
    author={post.data.author}
    loading={index === 0 ? "eager" : "lazy"} />)}
  </div>
  </section>
</BaseLayout>

<style>
  p {
    text-align: justify;
  }
</style>