---
const { url, title, date, image, alt, description, author } = Astro.props;
import { Image } from 'astro:assets';
---
<div class="blog-thumbnail">
<a href={url}>
  <Image 
  src={ image } 
  alt={ alt }
  width={800}
  height={400}
  fit="cover"
  class="blog-image"
/>  
</a>
<h2><a href={url}>{title}</a></h2>
<p>{date.toLocaleDateString()}</p>
<p>{description}</p>
</div>

<style>

    .blog-image {
        max-width: 100%;
        height: auto;
    }
    
    h2 {
        margin-bottom: -12px;
    }

</style>