---
const { currentPost } = Astro.props;
import { getCollection } from "astro:content";
import { Image } from 'astro:assets';

const allPosts = await getCollection("blog");
const randomPosts = allPosts.filter(post => post.id !== currentPost).sort(() => Math.random() - 0.5).slice(0, 4);
/* asked claude how to get random posts, recommended this easy method */
---
<h2>Explore more Posts</h2>
<div class="thumbnail-container">
{randomPosts.map((post: any, index) => 
<a href={`/posts/${post.id}/`} {...(index === 3 ? { id: "hidden" } : {})}><figure class="thumbnail">
    <Image
    src={post.data.cover}
    alt={post.data.coverAlt}
    width={400}
    height={200}
    fit="cover"
    loading="lazy" 
    decoding="async"
    />
    <figcaption>
        <h3>{post.data.title}</h3>
        <p style="margin-top: -15px; font-size:0.9rem;">{post.data.pubDate.toLocaleDateString()}</p>
        <p>{post.data.description}</p>
        </figcaption>
        </figure></a>)}
</div>

<style>
   
    .thumbnail-container {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
    }

    .thumbnail {
        border: solid;
        border-width: 1px;
        max-width: 100%;
        margin: 0;
        padding: 0;
        background: white;
        padding: 15px;
    }

    .thumbnail img {
        width: 100%;
        height: auto;
        display: block;
    }

       .thumbnail:hover {
        background: purple;
        color: white;
    }

    a {
        text-decoration: none;
    }

    .thumbnail figcaption {
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
        text-align: left;
    }

    .thumbnail figcaption h3 {
        text-decoration: underline;
    }

    @media screen and (min-width: 662px) {
        #hidden {
            display: none;
        }
    }
</style>