---
import BaseLayout from './BaseLayout.astro';
import MorePosts from '../components/morePosts.astro';
import { Image } from 'astro:assets';
const { frontmatter, postID } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
<p>Published on: {frontmatter.pubDate.toLocaleDateString()}</p>
<p>Written by {frontmatter.author}</p>
<div class="tags">
  <p class="before-colon">Tags:</p>
    {frontmatter.tags.map((tag: string) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
</div>
<p><em>{frontmatter.description}</em></p>
<Image 
  src={frontmatter.cover} 
  alt={frontmatter.coverAlt}
  width={800}
  height={400}
  class="blog-image"
/>
<div class="blogpost-content">
  <slot />
</div>
<MorePosts currentPost={postID}/>
</BaseLayout>

<style>

    a {
        color: inherit;
    }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .blog-image {
    width: 100%;
    height: auto;
  }
  
</style>